* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
#calc {
	margin: 0 auto;
	width: 325px;
	display: flex;
	flex-flow: row wrap;
}
#calc > * {
	font-size: 2em;
	text-align: center;
	padding: 15px 0;
}
button {
	border: none;
}
.mid {
	border-color: #91CA86;
	background: linear-gradient(135deg, #79c767 , #61B34F);
	color: white;
}
.mid:hover {
	background: #79c767;
}
.mid:active {
	background: #61B34F;
}
.light {
	border-color: #B5DCB0;
	background: linear-gradient(135deg, #9bd490, #82C276);
	color: #537A4B;
}
.light:hover {
	background: #9bd490;
}
.light:active {
	background: #82C276;
}
.dark {
	background: linear-gradient(135deg, #6aac5a, #559b45);
	border-color: #91CA86;
	color: #91CA86;
}
.dark:hover {
	background: #6aac5a;
}
.dark:active {
	background: #559b45;
}
#screen {
	flex: 1 75%;
	overflow: hidden;
	background: linear-gradient(135deg, #79c767 , #61B34F);
	text-align: right;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 1px;
	text-overflow: ellipsis;
}
#screenMessage {
	float: left;
	padding: 0;
	margin: 5px 0 0 90px;
	font-size: 1.5em;
	position: absolute;
	color: #91CA86;
}
.sm {
	flex: 0 25%;
}
